name: Build and Deploy to GitHub Pages

on:
  push:
    branches:
      - main # 监听 main 分支的推送事件

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # 检出代码仓库
      - name: Checkout repository
        uses: actions/checkout@v3

      # 安装 pnpm
      - name: Install pnpm
        run: corepack enable && corepack prepare pnpm@latest --activate

      # 验证 pnpm 安装
      - name: Verify pnpm version
        run: pnpm --version

      # 安装依赖并构建项目
      - name: Install dependencies and build
        run: |
          pnpm install
          pnpm build

      # 确保 CNAME 文件存在
      - name: Add CNAME file
        run: echo "github-blog.acofork.us.kg" > dist/CNAME

      # 获取 main 分支的提交信息
      - name: Get latest commit message from main branch
        run: |
          COMMIT_MESSAGE=$(git log -1 --pretty=%B)
          echo "Commit message: $COMMIT_MESSAGE"
          echo "COMMIT_MESSAGE=$COMMIT_MESSAGE" >> $GITHUB_ENV

      # 部署到 gh-pages
      - name: Deploy to gh-pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
          destination_branch: gh-pages
          commit_message: ${{ env.COMMIT_MESSAGE }} # 使用 main 分支的提交信息
